html,
body {
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(214, 226, 240);
}
.qrcode {
  display: flex;
  height: 300px;
  border-radius: 15px;
  background-color: #fff;
}
.image {
  width: 200px;
  height: 200px;
  padding: 20px;
}
